@import "bootstrap/mixins";
@import "mixins/center";

.page-1 {
    a {
        display: inline-block;
        width: inherit;
        height: inherit;
    }

    .branding {
        @include make-xs-column(6);
        @include make-sm-column(3);

        svg {
            width: 75%;

            @media only screen and (min-device-width : 321px) and (orientation: landscape) {
                height: 134px;
            }

            @media (min-width: $screen-sm-min) {
                width: 75%;
            }

            @media (min-width: $screen-md-min) {
                width: 100%;
            }
        }
    }

    .paper {
        .paper-wrapper {
            @include center;

            width: 80%;
            transform: translate(-50%,-25%);

            @media only screen and (min-width: 321px) and (orientation: landscape) {
                top: 10%;
                left: 0;
                transform: none;
                display: inline-block;
                margin: 0 auto;
                width: 100%;
            }

            @media (min-width: $screen-sm-min) {
                @include center;

                width: 75%;
                position: relative;
                transform: translate(-50%,0);
            }

            @media (min-width: $screen-md-min) {
                 @include center;

                 width: 100%;
            }
        }

        svg,
        img {
            transform: rotate(10deg);
            width: 100%;

            @media only screen and (max-width : 320px) and (orientation: portrait) {
                width: 100%;
                display: inline;
            }

            @media only screen and (min-width : 321px) and (orientation: landscape) {
                width: 45%;
                margin: 0 auto;
                display: block;
            }
        }
    }

    .charities {
        @include make-xs-column(6);
        @include make-sm-column(3);
        @include make-sm-column-offset(6);
    }

    .charity-logo {
        margin: 0 auto;
        margin-top: 20px;

        &.team-for-kids,
        &.plan-international {
            float: right;
            clear: right;

            svg,
            img {
                width: 125px;
                height: auto;

                @media (min-width: $screen-sm-min) {
                    width: 200px;
                }
            }
        }
    }

    .bottom-cta {
        .arrow {
            display: inline-block;
            width: 25px;
            position: absolute;
            left: 50%;
            bottom: 5%;
            margin-left: -13px;

            @media (min-width: $screen-md-min) {
                width: 45px;
                margin-left: -23px;
            }
        }
    }
}
