// Bootstrap Variables
$body-bg: #040404;
$text-color: #fff;
$brand-primary: #5bb9f4;
$font-family-sans-serif:  "Oswald", Helvetica, Arial, sans-serif;
$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;
$charity-team4kids: $brand-primary;
$charity-plan: $brand-primary;

$margin-bottom-xs: 120 - (120 * .75) + 1px;
$margin-bottom-sm: 120 - (120 * .5) + 1px;
$margin-bottom-md: 120 - (120 * .25) + 1px;
$margin-bottom-lg: 120px;
